<!DOCTYPE html>
<html>
<head>
  <title>Nathanl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:alert] %>
  <div class='alert'><p><%= flash[:alert] %></p></div>
<% end %>

<% if flash[:notice] %>
  <div class='notice'><p><%= flash[:notice] %></p></div>
<% end %>

<div class="container">
  <%= yield :jumbotron %>

  <nav>
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Blog", posts_path %></li>
      <li><%= link_to "Code", '#' %></li>
      <li><%= link_to "About", me_path %></li>
    </ul>
  </nav>

  <div class="main">
      <%= yield %>
  </div>
</div>

</body>
</html>
